# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=

# Auth Secret
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Seed Data
SEED_EMAIL=
SEED_PASSWORD=